<div role="main">
  <br>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link books-avaialble" href="">Books Available</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">{{user?.firstName}}</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <!-- User menu -->
        <li class="nav-item dropdown menu-user">
          <div class="dropdown">
            <button class="dropbtn">{{user.firstName}}{{user.lastName}} 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Manage Account</a>
              <a href= "#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#formModalDelete" (click)="deleteAccount(user.firstName)">Delete Account </a>
              
            </div>
            </div>
        </li>
      </ul>




      <!-- <form class="d-flex">
        <button style='font-size:24px'>{{user?.email}} <i class='far fa-user-circle' style='font-size:36px'></i></button> -->
        <!-- <span class="text-white">{{user?.email}} </span> 
        <button class="btn btn-primary" type="button" (click)="onLogoff()">LogOff</button> -->
      <!-- </form> -->
    </div>
  </nav>
  <div>
  <table class="table">
    <thead>
        <tr>
            <th *ngFor="let th of tableHeaders" scope="col">{{th}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dt of data">
            <td>{{dt.bookName}}</td>
            <td>{{dt.author}}</td>
            <td>{{dt.releasedOn | date}}</td>
            <!-- <div "> -->
            <td *ngIf="dt.available===true"><a href="#" data-bs-target="#bookDetailsModal" (click)="openModal(dt.bookName)">Borrow</a></td>
            <!-- </div> -->
            <!-- <div *ngIf="dt.available===false"> -->
              <td *ngIf="dt.available===false"><b>Currently Unavailable</b></td>
              <!-- </div> -->
            <td class = "select">
              <select>        
                      
                      <option value="saab">View</option>
                      <!-- <option value="mercedes" data-bs-target="#bookDetailsModal" (click)="openModal(dt.bookName)">Edit</option> -->
                      <option value="audi">Delete</option>
              </select>
              
            </td>   
        </tr>
        
          

    </tbody>
</table>
<div id="bookDetailsModal" tabindex="-1">
  <div *ngIf="showModalPopup==true" class="relative w-full max-w-4xl max-h-full">
      <!-- Modal content -->
      
        <div class="modal-content">
          <span class="close" (click)="closeModal()">&times;</span>
          <h2>{{currBookName}}</h2>
          <form  #borrow="ngForm" (ngSubmit)="submitForm()">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="name" [(ngModel)]="borrower.name" name="name" required>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="borrower.email" name="email" required>
            </div>
            <div class="form-group">
              <label for="phoneNumber">Phone Number:</label>
              <input type="tel" class="form-control" id="phoneNumber" [(ngModel)]="borrower.phoneNumber" name="phoneNumber" required>
            </div>
            <div class="form-group">
              <label for="fromDate">From:</label>
              <input type="date" class="form-control" id="fromDate" [(ngModel)]="borrower.fromDate" name="fromDate" required>
            </div>
            <div class="form-group">
              <label for="toDate">To:</label>
              <input type="date" class="form-control" id="toDate" [(ngModel)]="borrower.toDate" name="toDate" required>
            </div>
            <button type="submit" class="btn btn-primary" >Save</button>
          </form>
        </div>
      
  </div>
</div>
</div>
<div>
  <div *ngIf="showDelete===true" class="modal" >
    <div class="modal-content">
      <span class="close" (click)="formModalDelete()">&times;</span>
      <h2>Delete User</h2>
      <p>Are you sure you want to delete {{ user }}?</p>
      <button (click)="confirmDelete()" class="btn btn-danger">Delete</button>
      <button (click)="closeModalDelete()" class="btn btn-secondary">Cancel</button>
    </div>
  </div>
</div>
</div>




  

